.header__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	padding: 30px 0;
	border-bottom: 1px solid #d3cbd9;
}

.header__logo-img {
	display: block;
}

.header__phone {
	text-align: right;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}

.header__phone-text {
	margin: 0 0 8px 0;
}

.header__phone-number {
	font-size: 18px;
	font-weight: 500;
	color: #2c332f;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.header__phone-number:hover,
.header__phone-number:focus {
	color: #3596ed;
}
