body {
	font-family: sans-serif;
}

.fieldset {
	width: 200px;
	border-radius: 5px;
	background-color: whitesmoke;
}

.fields {
	display: block;
	margin-bottom: 10px;
}

.textarea {
	resize: vertical;
	width: 172px;
	min-height: 75px;
	max-height: 200px;
	border-radius: 3px;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 10px;
}

#agree {
	cursor: pointer;
}

.button {
	cursor: pointer;
	background-color: rgb(200, 207, 214);
	border-radius: 4px;
}
